<section id="section4">
  <div class="footer">
    <span class="fab fa-twitter "></span> <span class="fab fa-instagram"></span>
    <p>© 2020 Azmi Hakam</p>
    <p>ver. 1.0.0</p>
  </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
<script src="query.js" charset="utf-8"></script>
</html>
