<%- include("partials/header"); -%>



<br>
<h2 style="text-align: center">Compose</h2>

<form class="post" action="/compose" method="post" autocomplete="off">
  <div class="form-group">
  <label for="titleCompose">Title</label>
  <input type="text" class="form-control" name="titleCompose" value="" >
  <label for="contentCompose">Post</label>
  <textarea name="contentCompose" class="form-control space" rows="10" cols="30"></textarea>
</div>
<label for="category">category :</label>
<input type="text" name="categoryCompose" value="">
<br>
<button type="submit" class="btn btn-dark test1" name="blog">Publish</button>
</form>
<br>

</body>
</html>


<%- include("partials/footer"); -%>
