.alone1{width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-brand{font-family: 'Ubuntu', sans-serif;}

#section1{background-color: #a7d7c5;
padding: 5% 6% 5% 6%;}

h1{font-family: 'Pacifico', cursive;
margin-bottom: 50px;
font-size: 3rem;}

#section2{background-color: #f4f9f4;
text-align: center;
padding: 10% 10%;}

i{font-size: 3rem;
margin-bottom: 20px;
color: #5c8d89;}


#section3{background-color: #74b49b;
padding: 5% 5%}

.img-sec3left{width: 200px;
float: left;
margin: 1rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-sec3right{width: 200px;
float: right;
margin: 1rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#section3 a{font-size: 1.5rem;
color: black;}
#section3 a:link{text-decoration: none;}
#section3 a:hover{color: white;
}

#section4{background-color: #5c8d89;
text-align: center;
color: white}


.footer{padding: 1rem 1rem;
font-family: 'Montserrat-light', sans-serif;}

p{
  margin: 0 auto 0 auto;
}
span{
  margin-bottom: 1rem;
}

@media(max-width: 400px)
{
  h1{text-align: center;}
  .alone1{width: 200px}
  .img-sec3left{display:  block}

}


/*blogsection

*/

.backgroundBlog{
  background-color: #f4f9f4;
}
